<hr>
<div class="col-md-12" >
  <table>
    <tr>
      <td><%= image_tag @news.image.url if @news.image? %></td>
      <td><span class="post"><%= @news.title %></span></td>
      <td>
          <div style="text-align:center;">
          <%= t "news.created_at" %>
            <%= @news.created_at %><br>
      </td>
      <td>
          <span class="artext"><%= @news.body %></span>
      </td>
      <td>
          <% if current_user.isadmin? %>
              <%= link_to t("news.edits"), edit_admin_news_path , class: "btn btn-default" %>
      </td>
      <td>
          <%= link_to t("news.delete"), admin_news_path,  class: "btn btn-danger", method: :delete,
                    data: {confirm: t("news.sure")} %>
                <% end %>
      </td>
    </tr>
  </table>



</div>
 <div class="clearfix"></div>
