<div class="row" style="margin-bottom:20px; margin-top:20px; float:right;">
  <%= link_to t("club.new"), new_admin_club_path , class: "btn btn-sm btn-primary btn-create" %>
</div>
<div class="row">


    <table class="table table-striped table-bordered table-list">

      <thead>
        <tr>
            <th>Image</th>
            <th class="hidden-xs" style="width:60%">Name</th>
            <th><em class="fa fa-cog">Function</em></th>
        </tr>
      </thead>
      <tbody>

      <% @clubs.each do |club| %>
              <tr>
                <td>
                  <%= link_to club_path(club) do %>
                    <%= image_tag club.image.url if club.image? %>
                  <% end %>
                </td>
                <td class="hidden-xs"><%= link_to club.club_name, club_path(club) %></td>
                <td align="center">
                  <% if current_user.isadmin? %>
                    <%= link_to t("club.edits"), edit_admin_club_path(club), class: "btn btn-default" %>
                    <%= link_to t("club.delete"), admin_club_path(club), class: "btn btn-danger", method: :delete,
                      data: {confirm: t("club.sure")} %>
                <% end %>
                </td>
              </tr>
               <% end %>
            </tbody>
    </table>

  <%= will_paginate @players %>
</div>
